### In today's lab, we practice using dplyr functions such as filter, arrange, select, mutate, summarize, group_by.

In [2]:
require(tidyverse)
dm = diamonds[1:1000,]
head(dm)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [4]:
str(dm$cut)
levels(dm$cut)

 Ord.factor w/ 5 levels "Fair"<"Good"<..: 5 4 2 4 2 3 3 3 1 3 ...

[1] "Fair"      "Good"      "Very Good" "Premium"   "Ideal"

### Ex: In dm, filter for rows where:
* cut is fair and color is J.
* cut is fair or color is J.
* cut is premium or ideal.
* cut is better than fair.

In [ ]:
# cut is fair and color is J.
filter(dm, )

In [ ]:
# cut is fair or color is J.
filter(dm, )

In [ ]:
# cut is premium or ideal.
filter(dm, )

In [ ]:
# cut is better than fair.
filter(dm, )

### Ex: In dm, arrange the rows:
* by carat.
* by cut and then color.
* by cut (increasing order) and then color (decreasing order)

In [ ]:
# by carat.
arrange(dm, )

In [ ]:
# by cut and then color.
arrange(dm, )

In [ ]:
# by by cut (increasing order) and then color (decreasing order)
arrange(dm, )

### Ex: In dm, select:
* carat, color, and depth column.
* all columns but carat, color, and depth.
* all columns from color to price
* only color column but with the name of colour instead of color
* all columns but with x,y,z being the first 3 columns and the rest follows. (check everything()).

In [ ]:
# carat, color, and depth column.
select(dm, )

In [ ]:
# all columns but carat, color, and depth.
select(dm, )

In [ ]:
# all columns from color to price
select(dm, )

In [ ]:
# only color column but with the name of colour instead of color
select(dm, )

In [ ]:
# all columns but with x,y,z being the first 3 columns and the rest follows.
select(dm, )

### Ex: In dm, we want to append a column for the volume of the diamond using x*y*z

In [ ]:
dm_vol <- dm %>% mutate()

### Ex: let's plot our "volume" on the x-axis and carat on the y-axis to see how good our approximation is. (additional question: is the trend the same as what you would expect? what's special about those two outliers?)

In [ ]:
ggplot()

### Ex: what is the mean price of diamonds of the same color for each color? (use group by and summarize)

### Ex: For each cut and color combination, what is the highest price in that combination?

### Ex: In the mpg dataset, create a column of T,F indicating if the vehicle has manual transmission. Can you do it in one line?