# Lab 4: EDA on Chipotle Orders

Today, we look at what people order at Chipotle. Some example questions we are interested in are:
- How much do people spend on average at Chipotle?
- Do people prefer bowls or burritos?
- What percentage of people order drinks?
- ...

In [2]:
# read in necessary packages and data
library(dplyr)
library(ggplot2)
library(stringr)
df <- read.csv("~/Documents/stats306/labs/week4/chipotle.csv", stringsAsFactors = F)
df$X <- NULL

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# take a look at data
head(df)

  order_id quantity item_name
1 1        1        Chips and Fresh Tomato Salsa
2 1        1        Izze
3 1        1        Nantucket Nectar
4 1        1        Chips and Tomatillo-Green Chili Salsa
5 2        2        Chicken Bowl
6 3        1        Chicken Bowl
  choice_description
1
2 [Clementine]
3 [Apple]
4
5 [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]
6 [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]
  item_price
1 $2.39
2 $3.39
3 $3.39
4 $2.39
5 $16.98
6 $10.98

### Q1: what are the top 5 most popular items? (let's assume item_name are well-maintained, i.e., chicken bowl won't be listed as both Chicken Bowl and chicken bowl)

In [5]:
# df %>% group_by(item_name) %>% summarise(itemsold = n()) %>% arrange(desc(itemsold)) %>% top_n(5)
df %>% group_by(item_name) %>% summarise(itemsold = sum(quantity)) %>% arrange(desc(itemsold)) %>% top_n(20)

Selecting by itemsold

   item_name                    itemsold
1  Chicken Bowl                 761
2  Chicken Burrito              591
3  Chips and Guacamole          506
4  Steak Burrito                386
5  Canned Soft Drink            351
6  Chips                        230
7  Steak Bowl                   221
8  Bottled Water                211
9  Chips and Fresh Tomato Salsa 130
10 Canned Soda                  126
11 Chicken Salad Bowl           123
12 Chicken Soft Tacos           120
13 Side of Chips                110
14 Veggie Burrito                97
15 Barbacoa Burrito              91
16 Veggie Bowl                   87
17 Carnitas Bowl                 71
18 Barbacoa Bowl                 66
19 Carnitas Burrito              60
20 Steak Soft Tacos              56

### Q2: item_price is strings right now. Can we remove the dollar sign and convert it to numerical?

In [8]:
df <- df %>% mutate(item_price = as.numeric(str_replace(item_price, "\\$", "")))
df %>% head()

  order_id quantity item_name
1 1        1        Chips and Fresh Tomato Salsa
2 1        1        Izze
3 1        1        Nantucket Nectar
4 1        1        Chips and Tomatillo-Green Chili Salsa
5 2        2        Chicken Bowl
6 3        1        Chicken Bowl
  choice_description
1
2 [Clementine]
3 [Apple]
4
5 [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]
6 [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]
  item_price
1  2.39
2  3.39
3  3.39
4  2.39
5 16.98
6 10.98

### Q3: Construct a table where for each item, we have amount sold, total revenue, max price sold, min price sold, mean price sold; arrange in decreasing order of amount sold.

I have done this for you, and my solution is:

In [9]:
pricetable <- df %>% group_by(item_name) %>% 
    summarise(revenue = sum(item_price), 
              itemsold = n(),
              meanprice = mean(item_price),
              maxprice = max(item_price),                       
              minprice = min(item_price)) %>% 
    arrange(desc(itemsold))
head(pricetable)

  item_name           revenue itemsold meanprice maxprice minprice
1 Chicken Bowl        7342.73 726      10.113953 32.94    8.19
2 Chicken Burrito     5575.82 553      10.082857 35.00    8.19
3 Chips and Guacamole 2201.04 479       4.595073 17.80    3.89
4 Steak Burrito       3851.43 368      10.465842 27.75    8.69
5 Canned Soft Drink    438.75 301       1.457641  5.00    1.25
6 Chips                494.34 211       2.342844  6.45    1.99

Wait! how can a chicken bowl be 32.94? Double chicken chicken bowl is only 10 bucks! What happened?

### Take a look at the row in df where chicken bowl costed 32.94. Is my code for Q3 correct? If not, what's the correct one. Also check if your code for Q1 is correct.

In [ ]:
# select the row where chicken bowl costs 32.94

In [ ]:
# correct the code in Q3.

### Q4: What's the total price for each order? Plot a histogram of how much each order spends?

In [ ]:
# table for the total price of each order

In [ ]:
# Plot that

Can you locate your order habit in the plot above? I think the plot will be more informative if we look at only order below 20 bucks and select a smaller binwidth.

### Q5: Change the plot in Q4 such that we look only at orders below 20 and use a smaller binwidth.

How does your spending habits at Chipotle compare to those who are in the dataset?

### Q6: Are bowls more popular or burritos more popular? Create a bar plot where the y axis is the amount sold, and the x axis contains one bar for bowl, one bar for burrito.

### Q7: What percentage of orders contain at least one drink of any kind?

### Bonus Question: Suppose for any non drink item sold, 20% of the price is profit, for any drink sold, 85% is profit. According to our data, what percentage of total profit comes from drinks?